.webglContainer {
  height: 83vh;
  min-height: 83vh;
  display: block;
  z-index: 2;
}
.overviewFullscreen {
  z-index: 3;
  position: fixed !important;
  top: 7vh;
  right: 1vh;
  bottom: 1vh;
  left: 1vh;
  max-width: 100vw;
}
.webglContainerInteraction {
  height: 79vh;
  min-height: 79vh;
  display: block;
  z-index: 2;
}
.webglContainerDetail {
  height: 38vh;
  width: 38vh;
  display: block;
  position: absolute;
  z-index: 4;
}
.detailComponent {
  position: absolute !important;
  height: 45vh;
  width: 40vh;
  right: 2vh;
  top: 2vh;
  z-index: 4;
}
.detailComponentLarger {
  height: 75vh !important;
  width: 100vh !important;
}
.detailComponentSmaller {
  height: 11vh !important;
  width: 40vh !important;
}
.webglContainerDetailLarger {
  height: 70vh !important;
  width: 100vh !important;
}
.webglContainerDetailSmaller {
  height: 6vh !important;
  width: 38vh !important;
}
.expandButton {
  z-index: 4;
  bottom: 2vh;
  left: 2vh;
}
.minimizeButton {
  z-index: 4;
}
.webglContainerSmall {
  height: 20vh;
  display: block;
  z-index: 2;
}
#locGraph {
  height: 75vh;
  display: block;
}
.inputTable {
  max-height: 80%;
  display: block;
}
#legend {
  display: none;
  z-index: 1;
  background-color: white;
  position: absolute;
  width: 150px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}
#transcriptTable tbody tr:hover {
  cursor: pointer;
}
#proteomicsTable tbody tr:hover {
  cursor: pointer;
}
#proteinBox {
  height: 75vh;
  display: block;
}
.prot {
  display: block;
  padding: 10px;
  box-sizing: border-box;
}
#proteinInfo {
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap;
  max-height: 75vh;
}
.buttons {
  float: bottom;
  background-color: #e7e7e7;
  color: black;
  text-align: center;
  font-size: 12px;
  padding: 3px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  margin: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}
.buttons:hover {
  background-color: darkgrey;
} /*Range slider adapted
from: https://codepen.io/chriscoyier/pen/eYNQyPe*/
.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 50%;
}
.bubble {
  background: #a8bfff;
  color: black;
  padding: 5px;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 3px;
}
.bubble::after {
  content: '';
  width: 2px;
  height: 2px;
  background: #a8bfff;
}
#range-wrap {
  display: none;
}
.centeredGlyphs {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.glyphText {
  font-family: 'Roboto', sans-serif;
  font-size: 0.18rem;
  text-anchor: middle;
  dominant-baseline: central;
}
.glyphTextSmall {
  font-family: 'Roboto', sans-serif;
  font-size: 0.13rem;
  text-anchor: middle;
  dominant-baseline: central;
}
.glyphTextTiny {
  font-family: 'Roboto', sans-serif;
  font-size: 0.09rem;
  text-anchor: middle;
  dominant-baseline: central;
}
.positionCardTitle {
  height: 15%;
}
.scrollableTable .q-table__wrapper {
  scrollbar-width: thin;
  overflow-y: scroll;
  max-height: 60vh;
}
.rowstyle-available {
  background-color: white;
}
.rowstyle-inPathway {
  background-color: rgb(171, 241, 143) !important;
}
.rowstyle-notAvailable {
  background-color: white !important;
  color: rgb(207, 207, 207) !important;
}
.nodeText {
  stroke: white;
  stroke-width: 4;
  fill: black;
  paint-order: stroke fill;
  stroke-miterlimit: 2;
}
.nodeG {
  fill: white;
}
td.ellipsis:hover {
  overflow: visible;
  white-space: normal;
}
