.DS_Store
node_modules
/dist
**/uniprot_files
kegg_cache/*.json
package-lock.json
__pycache__
/session_cache/*
*.pickle
**/diagram/
**.ipynb
/reactome_testing_files
/reactome_data
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.coverage
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.txt.gz
*.pkl
*.xlsx
*.png